:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: radial-gradient(circle, #141434, #24020233);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #9cfe; 
  font-size: 0.8rem;
}
a:visited {
  color: #f9ce; 
}

button {
  border: none;
  margin: 0;
  padding: 0.5rem 1rem;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 4rem);
}